body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

h1 {
    font-size: 46px;
}

p {
    font-size: 38px;
}